.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(49, 139, 99, 0.8);
  color: whitesmoke;
  height: 50px;
  & p {
    color: rgba(241, 235, 235, 0.75);
    font-weight: 600;
  }
}
